/*태그 클래스명,태그 아이디명, 아이디명클래스명
태그&&클래스명, 태그&&아이디명, 아이디명&&클래스명일 때 적용됨*/
/*b태그이면서 클래스명이 italic인 경우 b.italic을 적용한다.

*/
b.italic{
    font-style: initial;
}
body>b{
    font-weight: 900;  /*우선순위에 따라 실행된다.*/
    color: blue
}
body b{
    color: green;
}

b{
    font-weight: 100;
    color: red
}
body>div>a{
    text-decoration: none;
    font-weight: bold;
    color: red;
}
#id{
    
}